
<%- include('parts/navbar') %>





<div class="container">
    <div id="friends">
        
    </div>
</div>
<input type="hidden" id="friendsData" value='<%- JSON.stringify(friends) %>'>


<%- include('parts/scripts') %>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/friends.js"></script>
