<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand fw-bold fs-4" href="<%= isUser ? '/' : '/' %>">
      ChatSphere
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">

        <% if (!isUser) { %>
       
          <!-- لو مش مسجل -->
          <li class="nav-item">
            <a class="nav-link" href="/login">تسجيل الدخول</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">إنشاء حساب</a>
          </li>
        <% } else { %>
          <!-- لو مسجل -->
          <li class="nav-item">
            <a class="nav-link" href="/">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/groups">المجموعات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friend/friends">الأصدقاء</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
               <input id = "userId" type="hidden" value="<%= isUser %>">
            <a class="nav-link dropdown-toggle"  id="button" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              طلبات الصداقة
            </a>
            <ul id = "friendRequests" class="dropdown-menu dropdown-menu-end">
              <% if(friendRequests.length == 0) { %>
               <span class="dropdown-item-text text-muted">لا توجد طلبات</span>
              <% } else { %>
                <% for(let request of friendRequests) { %>
                  <li><a class="dropdown-item" href="/profile/<%= request.id %>"><%= request.name %></a></li>
                <% } %>
              <% } %>
            </ul>
          </li>

          <!-- Logout -->
          <li class="nav-item ms-2">
            <a class="btn btn-danger text-white px-3" href="/logout">تسجيل الخروج</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
